{% extends 'index.html' %} {% load static %} {% block title %}FMS | Select Month
{% endblock title %} {% block extra_head %}
<link rel="stylesheet" href="{% static '/css/attendance.css' %}" />
<link rel="stylesheet" href="{% static '/css/teacherExam.css' %}" />
{% endblock extra_head %} {% block content %}
<!-- Start attendance -->
<section id="start-att">
  <div class="component-back">
    <div>
      <h2>Fee Structure</h2>
      <p>Class {{class.clas}}</p>
    </div>
    <!-- <a href="/createExam.html"
      ><button class="btn btn-lg">Create</button></a
    > -->
  </div>
  <div class="exam-list-txt flex">
    <p>Select Month to edit</p>
    <!-- <div class="flex">
      <div>
        <i class="fas fa-angle-double-right"></i>
        <button class="btn btn-black">Class</button>
      </div>
      <div style="margin-left: 20px">
        <i class="fas fa-angle-double-right"></i>
        <button class="btn btn-black">Subject</button>
      </div>
    </div> -->
  </div>
</section>

<!-- Student List -->
<section id="home-menu">
  <div class="home-menu">
    {% for fee in fee_struct_qs %}
    <div class="menu-list tech-exam-list">
      <div>
        <p>Last Updated: {{fee.last_updated}}</p>
      </div>
      <div class="exam-data">
        <a href="{% url 'fee:feeEdit' fee.clas.id fee.month.id %}">
          <div class="exam-desc">
            <h3 class="text-underline">{{fee.month.month}}</h3>
          </div>
        </a>
        <div class="students-enrolled">
          <h4><span>&#8377;</span> {{fee.amount}}.00</h4>
          <p>Total Fee</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</section>
{% endblock content %}
{% block activity_log %}{% endblock activity_log %}
