{% extends 'index.html' %}
{% load static %}
{% block title %}Students{% endblock title %}
{% block css %}
<link rel="stylesheet" href="{% static '/css/style.css' %}" />
<link rel="stylesheet" href="{% static '/css/attendance.css' %}" />
<link rel="stylesheet" href="{% static '/css/teacherExam.css' %}" />
<link rel="stylesheet" href="{% static '/css/progress.css' %}" />
<link rel="stylesheet" href="{% static '/css/adminList.css' %}" />
<link rel="stylesheet" href="{% static '/css/studentList.css' %}" />
{% endblock css %}
{% block content %}
    <section id="main">
        <section id="list-hero">
            <div class="menu-list list-hero">
              <div class="list-hero-search">
                <h2>Search Student:</h2>
                <input
                  type="text"
                  id="search-add-no"
                  placeholder="Search Student by Admission Number..."
                  onkeyup="searchStud(event, 1)"
                />
                <input
                  type="text"
                  id="search-name"
                  placeholder="Search Student by Name..."
                  onkeyup="searchStud(event, 3)"
                />
                <input
                  type="text"
                  id="search-class"
                  placeholder="Search Student by Class..."
                  onkeyup="searchStud(event, 7)"
                />
              </div>
            </div>
          </section>
    
          <section id="admin-stud-list">
            <div class="admin-stud-list">
              <h2>Click on any student to view info:</h2>
              <div class="student-table-list">
                <table id="student-table">
                  <tr>
                    <th>Add. No.</th>
                    <th>Name</th>
                    <th>Father's Name</th>
                    <th>Class</th>
                    {% comment %} <th>Fee Status</th> {% endcomment %}
                  </tr>
                  {% for student in students %}
                  <tr onclick="document.location = '{% url 'school:studentoutline' student.id %}';" tabindex = {{forloop.counter}}>
                    <td>{{ student.add_no }}</td>
                    <td> {{ student.fname }} </td>
                    <td> {{ student.fathername }} </td>
                    <td> {{ student.Class.clas }} </td>
                    {% comment %} <td>Paid</td> {% endcomment %}
                  </tr>
                  {% endfor %}
                </table>
              </div>
            </div>
          </section>
    </section>
{% endblock content %}
{% block script %}
<script>
  let submitHandler = function (event) {
    console.log(event.target.value);
  };
</script>

<!-- <script src="../js/adminList.js"></script> -->
{% comment %} <script src="js/searchStudent.js"></script> {% endcomment %}
<script src="{% static 'js/searchStudent.js' %}"></script>
{% endblock script %}
{% block activity_log %}{% endblock activity_log %}